[submodule "thirdparty/SaintCoinach"]
	path = thirdparty/SaintCoinach
	url = https://github.com/zorbathut/SaintCoinach.git
[submodule "thirdparty/def"]
	path = thirdparty/def
	url = https://github.com/zorbathut/def.git
[submodule "thirdparty/cherenkov"]
	path = thirdparty/cherenkov
	url = https://github.com/zorbathut/cherenkov.git
