<Defs>
  <CherenkovDataDef defName="Global">
    <webProxyIP>yourVpnIpHere</webProxyIP>
    <webProxyUsername>yourVpnUsernameHere</webProxyUsername>
    <webProxyPassword>yourVpnPasswordHere</webProxyPassword>
  </CherenkovDataDef>
</Defs>
