<Defs>
  <ZifaConfigDef defName="Global">
    <retainers>
      <li>***REMOVED***</li>
      <li>***REMOVED***</li>
      <li>***REMOVED***</li>
      <li>***REMOVED***</li>
    </retainers>
  </ZifaConfigDef>
</Defs>
